body {
    background-color: #283655;
    font-family: 'Fira Sans', sans-serif;
}

.titleRanking {
    display: block; 
}

#ranking {
    text-align: center;
    font-size: 44px;
    color: #4d648d;
    font-weight: bold;
}

.bodyRanking {
    background-color: #d0e1f9;
    height: 650px;
    margin-top: 100px;
    padding-top: 25px;
}

h2 {
    text-align: center;
    font-size: 62px;
    color: #283655;
    font-weight: bold;
}

.btnRanking {
    height: 60px;
    width: 300px;
    font-size: xx-large;
    font-weight: 600;
    line-height: 36px;
    display: block;
    margin: auto;
    color: #e7eff6;
    border: 2px solid #e7eff6;
    background-color: #4d648d;
    margin-top: 70px;
}

.btnRanking:hover {
    background-color: #d0e1f9;
    border-color: #4d648d;
    color: #4d648d;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul > li {
    border-bottom: 2px solid #bed9ff;
    padding: 6px;
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    color: #283655;
    padding-left: 40px;
}
ul > li:nth-of-type(odd) {
    background-color: #e9e9f9 ;
}
ul > li:last-child {
    border-bottom: none;
}